.card-product {
  height: 100%;
}
.card-img-pro {
  height: 300px;
  object-fit: cover;  
}

.product-dest {
  min-height: 80px;
}

.read-more-button {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}